@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}

.skeleton {
  background: linear-gradient(
    90deg,
    var(--background-accent) 0%,
    #f0f0f0 50%,
    var(--background-accent) 100%
  );
  background-size: 1000px 100%;
  animation: shimmer 2s infinite linear;
}
