.badgeRoot {
  display: inline-block;
  background-color: #fff;
  color: #000;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 0.25rem 1rem;
  border-radius: 1rem;
}

.badgeContent {
  text-shadow: none;
}
