.container {
  max-width: 1200px;
  margin: var(--header-height) auto 0 auto;
  font-family: Helvetica, Arial, sans-serif;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 2rem;
}

.storeLocatorContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
}