header {
  position: fixed;
  width: 100vw;
  top: 0;
  z-index: 100;
  background: #000000;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.2) 0%,
    rgba(74, 176, 106, 0) 100%
  );
}

/* Announcement Bar */
.announcementBar {
  width: 100%;
  background-color: #000;
  color: #fff;
  margin: 0;
}

.announcementBarContent {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.8rem 2rem;
}

.announcementBarContent p {
  margin: 0;
  font-size: 14px;
}

.notMain {
  background: #fff;

  .navLinks {
    display: flex;
    gap: 3rem;
    font-weight: bold;
    color: var(--text-secondary);
    text-shadow: none;
  }

  .headerActions {
    display: flex;
    gap: 1.2rem;
    color: #000;
  }
}

.navContainer {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0.5rem 2rem;
  display: grid;
  width: 100%;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}

.navLinks {
  display: flex;
  gap: 3rem;
  font-weight: bold;
  color: #fff;
  text-shadow: #000 0px 0px 4px;
  justify-content: center;
}

.headerActions {
  display: flex;
  gap: 1.2rem;
  color: #fff; 
  justify-content: flex-end;
}
