@import url(https://db.onlinewebfonts.com/c/13bf1d3e6c7119293f9c96e5678096e6?family=Uniqlo+Pro+Light+Regular);

.verticalCarouselContainer {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  outline: none;
}

.verticalCarouselInner {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.verticalCarouselContainer h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-weight: normal;
}
