/* Root */
.textInputRoot {
  border: 1px solid #ccc;
  border-radius: 18px;
}

/* Variants */
.textInputOutlined {
  border: 1px solid #d7d7d7;
}

.textInputFilled {
  background-color: #f5f5f5;
  border: none;
  outline: none;
}

/* Sizes */
.textInputSmall {
  padding: 8px 16px;
  font-size: 14px;
}

.textInputMedium {
  padding: 10px 20px;
  font-size: 16px;
}

.textInputLarge {
  padding: 12px 24px;
  font-size: 18px;
}
